apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: manafood-microservico-usuario-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: manafood-microservico-usuario
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
